@import "../../../styles/abstract";

/* .tableFixHead {
  overflow: auto;
  max-height: calc(100vh - (#{$header-height} + 80px));

  @include scrollbar;
} */
.card-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  thead {
    th {
      padding: 6px;
      background-color: var(--black-600);
      border-bottom: 2px solid var(--black-200);
      /* position: sticky;
      top: 0;
      z-index: 1; */

      &:not(:last-child) {
        border-right: 2px solid var(--black-500);
      }

      .head-with-icon {
        @include flexbox(center);

        .sort-grouped {
          display: flex;
          flex-direction: column;
          gap: 2px;
          margin-left: 20px;

          svg:nth-child(2) {
            transform: rotateX(180deg);
          }
        }
      }
      .head-with-filter {
        @include flexbox(center);
        .filter-wrap {
          position: relative;
          margin-left: 20px;

          .filter-options {
            position: absolute;
            top: 20px;
            /* right: 50%;
            transform: translateX(50%); */
            right: 0px;
            background-color: var(--black-700);
            padding: 6px 10px;
            width: max-content;

            .control {
              @include flexbox(null, center, 8px);
              margin-bottom: 6px;

              &:last-child {
                margin-bottom: 0px;
              }

              input[type="checkbox"] {
                padding: 0;
                margin: 0;
              }
            }
            .reset {
              text-align: right;
              font-size: 14px;
              font-weight: normal;
              color: var(--black-200);
              cursor: pointer;
              border-bottom: 1px solid var(--black-600);
              padding-bottom: 4px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }

  tbody tr {
    background-color: var(--black-400);
    &:not(:last-child) {
      border-bottom: 2px solid var(--black-200);
    }

    td {
      padding: 6px;
      &:not(:last-child) {
        border-right: 2px solid var(--black-200);
      }
    }

    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
