@import "../../../styles/abstract";

.actions {
  box-shadow: 0px 0px 4px 0px #00000040;
  padding: 2px 10px;
  @include flexbox(space-between, center);

  svg {
    cursor: pointer;
    width: 18px;
  }

  .edit-options {
    position: absolute;
    display: flex;
    gap: 10px;
    background-color: var(--black-500);
    padding: 4px;
    z-index: 2;
    top: 24px;
    left: -16px;
    border-radius: 2px;
  }
}
