@import "./styles/abstract";
@import "./styles/base";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: var(--black-700);
  color: var(--snow-white);

  scrollbar-color: var(--black-500) var(--black-700);
  scrollbar-width: thin;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--black-700);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--black-500);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black-600);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.truncate {
  @include truncate;
}

.header-inner,
main {
  max-width: $max-width;
  margin: 0 auto;

  @include tablet-l {
    padding-inline: 30px;
  }

  @include mobile {
    padding-inline: 20px;
  }
}

main {
  margin-top: $header-height;
  padding-top: 10px;
}

.remove-highlight {
  -webkit-tap-highlight-color: transparent;
}

#loading {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

//SVG as button
button.button-svg {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--snow-white);
  }

  &:disabled {
    svg {
      fill: var(--black-500);
      cursor: not-allowed;
    }
  }
}
