:root {
  --snow-white: #f4f4f4;
  --white: #ffffff;

  --black-800: #2a2828;
  --black-700: #2f2d2d;
  --black-600: #3b3b3b;
  --black-500: #555555; // davys-grey
  --black-400: #656565;
  --black-300: #bbbbbb;
  --black-200: #8c8c8c;

  --cool-grey: #f5f5f5;

  ---yellow-500: #ffff00;
  ---yellow-600: #ffce31;

  --green-200: #00ffe7;

  --red-100: #ffa7a7;

  // Resume
  --blue-400: #138acb;
  --blue-500: #0084c7;
  --blue-600: #0a70a5;
}
