:root {
  --snow-white: #f4f4f4;

  --black-800: #2a2828;
  --black-700: #2f2d2d;
  --black-600: #3b3b3b;
  --black-500: #555555;
  --black-400: #656565;
  --black-300: #bbbbbb;
  --black-200: #8c8c8c;

  ---yellow-500: #ffff00;
  ---yellow-600: #ffce31;

  --green-200: #00ffe7;

  --red-100: #ffa7a7;
}
