@import "../../../../styles/abstract";

.toast {
  position: fixed;
  z-index: 10000;
  top: 14px;
  right: 34px;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  max-width: 80%;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;

  @include flexbox(null, center, 10px);

  > svg {
    flex-shrink: 0;
  }

  &.success {
    background-color: #699f4c;
  }
  &.error {
    background-color: #de4e4e;
  }
  &.warning {
    background-color: #bf873e;
  }
  &.info {
    background-color: #f6f6f6;
    color: var(--black-800);
  }
}
