.toast {
  position: fixed;
  top: 14px;
  right: 34px;
  z-index: 1;
  /* left: 50%; */
  /* transform: translate(-50%, 0); */
  font-size: 14px;
  font-weight: 600;
  max-width: 350px;
  padding: 6px 14px;
  margin: 0 30px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 10px;

  > svg {
    flex-shrink: 0;
  }

  &.success {
    background-color: #699f4c;
  }
  &.error {
    background-color: #de4e4e;
  }
  &.warning {
    background-color: #bf873e;
  }
  &.info {
    background-color: red;
  }
}
