@import "../../../styles/abstract";

.search-container {
  position: relative;
  display: inline-block;
  width: 300px;

  .search-field {
    position: relative;
    display: inline-block;
    width: 100%;

    > input {
      padding: 10px 10px;
      padding-right: 100px;
      background-color: var(--black-500);
      color: var(--snow-white);
      border: 1px solid var(--black-600);
      border-radius: 4px;
      font-size: 18px;
      width: 100%;
      box-sizing: border-box;

      &:focus-visible {
        outline: 1px solid #9b9b9b;
      }
    }

    > div {
      position: absolute;
      right: 16px;
      top: 10px;
      z-index: 1;
      @include flexbox(null, center, 8px);

      > button {
        background: transparent;
        border: 0;
        cursor: pointer;
        display: inline-flex;
        padding: 0;

        &:hover svg {
          fill: #dedede;
        }
      }
    }
  }

  .search-width {
    $marg: 10px;
    width: calc(100% - (#{$marg} * 2));
    margin: 0 $marg;
    box-sizing: border-box;
  }

  .search-results {
    position: absolute;
    top: 42px;
    background-color: var(--black-600);
    color: var(--snow-white);
    padding: 10px;

    box-sizing: border-box;
    overflow: auto;
    z-index: 4;

    &-close {
      max-height: 0px;
      transition: max-height 1s linear;
    }

    &-open {
      max-height: 300px;
      transition: max-height 0.1s linear;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &:empty {
      padding: 0;
    }

    .search-results-item {
      display: flex;
      gap: 10px;
      cursor: pointer;
      padding: 6px;

      &:hover {
        background-color: var(--black-400);
      }
      .content {
        flex-grow: 1;

        .title {
          @include flexbox(space-between, center, 4, row);

          p {
            margin: 0;
          }
        }
      }
    }

    .error-msg {
      color: #ff8080;
      position: sticky;
      top: 0;
      padding: 6px;
      background-color: var(--black-600);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
#loading {
  animation: spin 3s linear infinite;
}
