@import "../../styles/abstract";

main.movies-container {
  padding-right: 10px;

  .movie-loading {
    height: 50vh;
    width: 100%;
    @include flexbox(center, center);
  }

  .main-inner-wrapper {
    margin-bottom: 20px;
  }

  .goToTop {
    position: fixed;
    bottom: 68px;
    right: 20px;
    -webkit-tap-highlight-color: transparent;

    &:active {
      color: #fb9a9a;
    }

    svg {
      fill: currentColor;
    }

    &-animate {
      animation: bounce 3s 2s infinite;

      @keyframes bounce {
        0%,
        40%,
        100% {
          transform: translateY(0);
        }

        10% {
          transform: translateY(-30px);
        }

        20% {
          transform: translateY(0px);
        }

        25% {
          transform: translateY(-5px);
        }

        30% {
          transform: translateY(0px);
        }
      }
    }
  }

  .movie-view-tool {
    margin-bottom: 24px;
    @include flexbox(space-between, center, 20px);
    position: relative;

    &:before {
      content: "";
      height: 1px;
      background-color: grey;
      width: calc(100% + (20px + 10px));
      position: absolute;
      bottom: -10px;
      left: -20px;
    }
    .status-tab {
      @include flexbox;
      border: 2px solid var(--black-400);
      border-radius: 4px;
      padding: 2px;

      > div {
        padding: 8px 20px;
        background-color: var(--black-800);
        border-radius: 4px;

        &.active {
          background-color: var(--black-400);
          color: var(--snow-white);
          font-weight: 700;
        }

        &:not(.active) {
          cursor: pointer;
        }
      }
    }

    > div:nth-child(2) {
      @include flexbox(null, center, 20px);
    }
  }

  svg {
    cursor: pointer;
  }

  .no-table-view {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      /* top: 8px;
      left: -3px;
      width: 26px;
      border-radius: 2px;
      height: 4px; */
      top: 10px;
      left: -6px;
      width: 32px;
      /* border-radius: 24px; */
      height: 2px;
      background-color: currentColor;
      transform: rotate(45deg);
    }
  }
}
