@import "../../../styles/abstract";

.mobile-menu {
  position: relative;

  .menu-overlay {
    position: absolute;
    z-index: 4;
    left: 0px;
    top: 44px;

    padding: 14px;
    background: #464545;
    display: flex;
    width: calc(100vw - 40px);
    box-sizing: border-box;
    /* box-shadow: 0px 6px 8px 0px #383838; */
    box-shadow: 0px 6px 8px 0px var(--black-700);

    &:before {
      content: "";
      position: absolute;
      left: 12px;
      width: 0;
      height: 0;
      $width: 14px;
      top: calc(-#{$width} + 1px);
      border-left: $width solid transparent;
      border-right: $width solid transparent;

      border-bottom: $width solid #464545;
    }

    $spacing: 10px;

    nav {
      flex-basis: 42%;
      padding-right: $spacing;
      border-right: 2px solid var(--black-400);

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 4px;

        li {
          font-weight: 600;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }

        a {
          position: relative;
          text-decoration: none;
          color: var(--snow-white);
          width: 100%;
          font-size: 16px;
          display: inline-block;
          padding: 2px 0;

          &.active,
          &:hover {
            color: var(--green-200);
            &:before {
              content: "";
              position: absolute;
              left: -6px;
              top: 0;
              height: 100%;
              width: 2px;
              background-color: currentColor;
            }

            &.active {
              margin-left: 6px;
            }
          }
        }
      }
    }

    .account {
      flex-basis: 58%;
      padding-left: $spacing;
    }
  }
}
