@import "../../../styles/abstract";

.work-experience {
  @include flexbox($gap: 10px, $dir: column);

  .company {
    margin-bottom: 10px;

    .company-head {
      @include flexbox(space-between, center);
      margin-bottom: 6px;
    }

    &-name {
      font-size: var(--fs-company-name);
      font-weight: 600;
      text-decoration: none;
      color: currentColor;

      padding: 4px 12px;
      padding-left: 0px;
      background-color: var(--bg-primary-color);
      color: var(--text-light-color);
      border-radius: 0px 6px 6px 0px;
      letter-spacing: 1.5px;
    }

    &-misc {
      @include flexbox(space-between, center);
    }

    &-duration {
      display: inline-block;
      font-size: var(--fs-duration);
      font-style: italic;
      background-color: var(--text-secondary-color);
      color: var(--text-light-color);
      padding: 1px 10px;
      border-radius: 8px;
    }

    &-desig {
      font-size: var(--fs-designation);
      font-weight: 700;
    }

    .projects {
      /* padding: 16px 14px;
      padding-right: 0px; */

      padding-top: 14px;
      padding-left: 10px;
      @include flexbox($gap: 16px, $dir: column);

      .project {
        font-size: var(--fs-project-description);

        .project-head {
          position: relative;
          //margin-left: 8px;
          margin-bottom: 8px;

          @include flexbox(null, center, 20px);

          .project-name {
            font-style: italic;
            font-weight: 700;
            font-size: var(--fs-project-name);
            color: var(--text-secondary-color);
          }

          .project-duration {
            font-size: 13px;
            font-style: italic;
            font-weight: 500;
          }
        }

        .project-technology {
          @include flexbox(null, null, 10px);
        }

        .project-body {
          margin-left: 10px;

          label {
            color: var(--text-secondary-color);
            font-weight: 700;
            display: inline-block;
            margin-bottom: 6px;
          }
        }

        .project-abstract {
          margin-bottom: 10px;
        }
      }
    }
  }
}
