@import "../../../styles/abstract";

.education {
  position: relative;
  $line: 104px;

  &:after {
    content: "";
    position: absolute;
    top: 2px;
    left: $line;
    height: 100%;
    width: 2px;
    background-color: var(--bg-primary-color);
  }

  > section {
    @include flexbox(null, null, 30px);
    margin-bottom: 20px;

    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: calc(#{$line} - 5px);
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: var(--bg-primary-color);
    }

    .left {
      flex-shrink: 0;
      margin-left: 20px;
      text-align: right;
    }

    .degree,
    .institute-name,
    .stream {
      font-weight: 700;
    }

    .degree {
      font-size: var(--fs-degree);
    }

    .year {
      font-size: var(--fs-year);
    }

    .institute-name {
      font-size: var(--fs-institute);
    }

    .stream {
      font-size: var(--fs-stream);
      color: var(--text-secondary-color);
    }

    .location {
      font-size: var(--fs-location);
    }
  }
}
