@import "../../../styles/abstract";

button.btn {
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;

  @include flexbox(null, center, 10px);

  &[type="submit"] {
    margin-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: auto;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.btn-default {
    background-color: var(--black-400);
    color: var(--snow-white);
  }

  &.btn-light {
    background-color: var(--snow-white);
    color: var(--black-400);
  }

  &.btn-outline {
    border-color: var(--snow-white);
    background-color: transparent;
    color: var(--snow-white);

    &:active {
      border-color: var(--black-600);
    }
  }
}
