@import "../../../styles/abstract";

.movie-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content: space-between;
  grid-gap: 20px;

  .movie-card {
    background-color: var(--black-400);
    padding: 10px;
    border-radius: 2px;
    > div {
      margin-top: 10px;
      > div {
        margin-bottom: 10px;
      }
    }

    .extra-wrapper {
      position: relative;
      .movie-detail-close {
        position: absolute;
        top: 0;
        height: 0;
        overflow: auto;
      }
      .movie-detail-open {
        position: absolute;
        height: auto;
      }
    }
  }
}
