@import "../../../styles/abstract";

.movie-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24%);
  justify-content: space-between;
  grid-gap: 10px;
  margin-bottom: 20px;

  @include tablet-l {
    grid-template-columns: repeat(auto-fill, 32%);
  }

  @include tablet {
    grid-template-columns: repeat(auto-fill, 49%);
  }

  @include mobile {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .movie-card {
    background-color: var(--black-400);
    padding: 10px;
    border-radius: 2px;
    @include flexbox(space-between, null, null, column);

    .movie-details {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      img {
        height: 140px;
        width: 100px;
      }

      .movie-content {
        flex-grow: 1;
        min-width: 0;

        > div {
          margin-bottom: 6px;
          height: 20px;

          p {
            margin: 0;
          }
        }

        .movie-name {
          margin-top: 0;
          margin-bottom: 6px;
          font-weight: 500;
        }

        .source {
          color: #ffb6b6;
          font-weight: 700;
          letter-spacing: 1px;
        }

        input[name="watchQueue"] {
          width: 20px;
        }
      }
    }

    .extra-wrapper {
      position: relative;
      .movie-detail-close {
        position: absolute;
        top: 0;
        height: 0;
        overflow: auto;
      }
      .movie-detail-open {
        position: absolute;
        height: auto;
      }
    }
  }
}
